[submodule "Vendor/ASIHTTPRequest"]
	path = Vendor/ASIHTTPRequest
	url = git://github.com/pokeb/asi-http-request.git
[submodule "Vendor/CWFoundation"]
	path = Vendor/CWFoundation
	url = git://github.com/jayway/CWFoundation.git
